<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}


<hr>

<h1>Madziungla</h1>
<h2> this is my app for plant management at home </h2>
<a href="{% url 'plant_list' %}">Display the plant list</a>
<a href="{% url 'supplier_list' %}">Display the supplier list</a>
<a href="{% url 'plan_list' %}">Display the plan list</a>
</body>
</html>